<footer>
  <hr />
  <p>Copyright &copy; 2016-2017 <a href="contact/index.html">Francesco Montanari</a>. This work is licensed under a <a rel="license" href="COPYING.BY-SA">Creative Commons Attribution-ShareAlike 4.0 International License</a> (see full <a href="license.html">license terms</a>).</p>

  <script>
    // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt
    document.write("This page was last modified on: " + Date(document.lastModified) +"");
    // @license-end
  </script>
</footer>
