<head>
  <title>Francesco Montanari</title>
  <base href="http://www.helsinki.fi/~montafra/">
  <!-- <base href="../"> -->
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" type="image/png" href="img/favicon_galaxy.png"/>
  <link rel="stylesheet" href="css/main.css">
</head>
