<nav>
  <div id="tb_left">
    <ol class="ft">
      <li class="ftl">
        <a href="index.html">Home</a>
      </li>
      <li class="ftl">
        <a href="research/index.html">Research</a>
      </li>
      <li class="ftl">
        <a href="notebook/index.html">Notebook</a>
      </li>
      <li class="ftl">
        <a href="contact/index.html">Contact</a>
      </li>
    </ol>
  </div>
</nav>
