<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>ReplaceKey class &mdash; replacekey 0.3 documentation</title>
    
    <link rel="stylesheet" href="_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    './',
        VERSION:     '0.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <link rel="top" title="replacekey 0.3 documentation" href="index.html" />
    <link rel="up" title="&lt;no title&gt;" href="documentation.html" />
    <link rel="prev" title="&lt;no title&gt;" href="documentation.html" />
   
  <link rel="stylesheet" href="_static/custom.css" type="text/css" />
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body role="document">
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="module-replacekey">
<span id="replacekey-class"></span><h1>ReplaceKey class<a class="headerlink" href="#module-replacekey" title="Permalink to this headline">¶</a></h1>
<p>Replace key expressions by templates.</p>
<p>Copyright (C) 2016-2017 Francesco Montanari.</p>
<p>This file is part of replacekey.</p>
<p>This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.</p>
<p>This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.</p>
<p>You should have received a copy of the GNU General Public License
along with this program.  If not, see &lt;<a class="reference external" href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>&gt;.</p>
<dl class="class">
<dt id="replacekey.ReplaceKey">
<em class="property">class </em><code class="descclassname">replacekey.</code><code class="descname">ReplaceKey</code><span class="sig-paren">(</span><em>recursive</em>, <em>pathin</em>, <em>pathout</em>, <em>dir_keys=None</em>, <em>extension=None</em>, <em>verbose=False</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/replacekey.html#ReplaceKey"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#replacekey.ReplaceKey" title="Permalink to this definition">¶</a></dt>
<dd><p>Parse recursively files under a directory, or a single file.  Scan
files of a given extension and containing specific key expressions
in the form <cite>{{key_label}}</cite>.  Replace these keys by the content
set in respective files under a <cite>keys/</cite> directory.  Templates
under this directory must be in the form <cite>key_label.extension</cite>.
The default keys and extension can be changed in the <cite>__init__</cite>
below.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first simple">
<li><strong>recursive</strong> (<em>bool</em>) &#8211; If True parse and replace the files recursively. Set to
False otherwise.</li>
<li><strong>pathin</strong> (<em>str</em>) &#8211; Existing directory of files, or file containing the keys
to be replaced.</li>
<li><strong>pathout</strong> (<em>str</em>) &#8211; Output directory, or file. The keys are replaced by the
content set in the corresponding files under the <cite>keys/</cite>
directory.  If the output (sub)directory does not exists,
it will be created.</li>
<li><strong>dir_keys</strong> (<em>list or None</em>) &#8211; Optional. Path to directory containing key files. If <cite>None</cite>,
use default directory.</li>
<li><strong>extension</strong> (<em>str or None</em>) &#8211; Optional. Extension of the files to parse. Assume that the
keys files have the same extension. If <cite>None</cite>, use default
extension <cite>html</cite>.</li>
</ul>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><p class="first last">Each file with the given extension under the <cite>pathin</cite> directory is
saved under the <cite>pathout</cite>. The keys are replaced by the respective
content.</p>
</td>
</tr>
</tbody>
</table>
<dl class="method">
<dt id="replacekey.ReplaceKey.saveKeyFile">
<code class="descname">saveKeyFile</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/replacekey.html#ReplaceKey.saveKeyFile"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#replacekey.ReplaceKey.saveKeyFile" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize routine to replace keys in file pathin and save
the output to file pathout.</p>
</dd></dl>

<dl class="method">
<dt id="replacekey.ReplaceKey.saveKeyDir">
<code class="descname">saveKeyDir</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/replacekey.html#ReplaceKey.saveKeyDir"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#replacekey.ReplaceKey.saveKeyDir" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize routine to replace keys in files under the
pathin directory, and save them under the pathout directory.</p>
</dd></dl>

<dl class="method">
<dt id="replacekey.ReplaceKey.replaceKey">
<code class="descname">replaceKey</code><span class="sig-paren">(</span><em>fin</em>, <em>fout</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/replacekey.html#ReplaceKey.replaceKey"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#replacekey.ReplaceKey.replaceKey" title="Permalink to this definition">¶</a></dt>
<dd><p>Replace keys in file fin and save the output to file fout.</p>
</dd></dl>

</dd></dl>

<dl class="function">
<dt id="replacekey.getParser">
<code class="descclassname">replacekey.</code><code class="descname">getParser</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/replacekey.html#getParser"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#replacekey.getParser" title="Permalink to this definition">¶</a></dt>
<dd><p>Set up and return the parser.</p>
</dd></dl>

<dl class="function">
<dt id="replacekey.callReplaceKey">
<code class="descclassname">replacekey.</code><code class="descname">callReplaceKey</code><span class="sig-paren">(</span><em>args</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/replacekey.html#callReplaceKey"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#replacekey.callReplaceKey" title="Permalink to this definition">¶</a></dt>
<dd><p>Interpret args and call <a class="reference internal" href="#replacekey.ReplaceKey" title="replacekey.ReplaceKey"><code class="xref py py-class docutils literal"><span class="pre">ReplaceKey</span></code></a>.</p>
</dd></dl>

<dl class="function">
<dt id="replacekey.getCli">
<code class="descclassname">replacekey.</code><code class="descname">getCli</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/replacekey.html#getCli"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#replacekey.getCli" title="Permalink to this definition">¶</a></dt>
<dd><p>Command line interface.</p>
</dd></dl>

</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper"><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="index.html">Documentation overview</a><ul>
  <li><a href="documentation.html">&lt;no title&gt;</a><ul>
      <li>Previous: <a href="documentation.html" title="previous chapter">&lt;no title&gt;</a></li>
  </ul></li>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="_sources/replacekey.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2016, Francesco Montanari.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.4.4</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.8</a>
      
      |
      <a href="_sources/replacekey.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>