<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>replacekey &mdash; replacekey 0.3 documentation</title>
    
    <link rel="stylesheet" href="../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="replacekey 0.3 documentation" href="../index.html" />
    <link rel="up" title="Module code" href="index.html" />
   
  <link rel="stylesheet" href="../_static/custom.css" type="text/css" />
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body role="document">
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <h1>Source code for replacekey</h1><div class="highlight"><pre>
<span></span><span class="sd">&quot;&quot;&quot;Replace key expressions by templates.</span>

<span class="sd">   Copyright (C) 2016-2017 Francesco Montanari.</span>

<span class="sd">   This file is part of replacekey.</span>

<span class="sd">   This program is free software: you can redistribute it and/or modify</span>
<span class="sd">   it under the terms of the GNU General Public License as published by</span>
<span class="sd">   the Free Software Foundation, either version 3 of the License, or</span>
<span class="sd">   (at your option) any later version.</span>

<span class="sd">   This program is distributed in the hope that it will be useful,</span>
<span class="sd">   but WITHOUT ANY WARRANTY; without even the implied warranty of</span>
<span class="sd">   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the</span>
<span class="sd">   GNU General Public License for more details.</span>

<span class="sd">   You should have received a copy of the GNU General Public License</span>
<span class="sd">   along with this program.  If not, see &lt;http://www.gnu.org/licenses/&gt;.</span>
<span class="sd">&quot;&quot;&quot;</span>


<span class="kn">import</span> <span class="nn">os</span>
<span class="kn">import</span> <span class="nn">re</span>
<span class="kn">import</span> <span class="nn">argparse</span>
<span class="kn">import</span> <span class="nn">warnings</span>


<div class="viewcode-block" id="ReplaceKey"><a class="viewcode-back" href="../replacekey.html#replacekey.ReplaceKey">[docs]</a><span class="k">class</span> <span class="nc">ReplaceKey</span><span class="p">:</span>
    <span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    Parse recursively files under a directory, or a single file.  Scan</span>
<span class="sd">    files of a given extension and containing specific key expressions</span>
<span class="sd">    in the form `{{key_label}}`.  Replace these keys by the content</span>
<span class="sd">    set in respective files under a `keys/` directory.  Templates</span>
<span class="sd">    under this directory must be in the form `key_label.extension`.</span>
<span class="sd">    The default keys and extension can be changed in the `__init__`</span>
<span class="sd">    below.</span>

<span class="sd">    Parameters</span>
<span class="sd">    ----------</span>
<span class="sd">    recursive : bool</span>
<span class="sd">        If True parse and replace the files recursively. Set to</span>
<span class="sd">        False otherwise.</span>
<span class="sd">    pathin : str</span>
<span class="sd">        Existing directory of files, or file containing the keys</span>
<span class="sd">        to be replaced.</span>
<span class="sd">    pathout : str</span>
<span class="sd">        Output directory, or file. The keys are replaced by the</span>
<span class="sd">        content set in the corresponding files under the `keys/`</span>
<span class="sd">        directory.  If the output (sub)directory does not exists,</span>
<span class="sd">        it will be created.</span>
<span class="sd">    dir_keys : list or None</span>
<span class="sd">        Optional. Path to directory containing key files. If `None`,</span>
<span class="sd">        use default directory.</span>
<span class="sd">    extension : str or None</span>
<span class="sd">        Optional. Extension of the files to parse. Assume that the</span>
<span class="sd">        keys files have the same extension. If `None`, use default</span>
<span class="sd">        extension `html`.</span>

<span class="sd">    Returns</span>
<span class="sd">    -------</span>
<span class="sd">     :</span>
<span class="sd">        Each file with the given extension under the `pathin` directory is</span>
<span class="sd">        saved under the `pathout`. The keys are replaced by the respective</span>
<span class="sd">        content.</span>
<span class="sd">    &quot;&quot;&quot;</span>


    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span>
                 <span class="n">recursive</span><span class="p">,</span>
                 <span class="n">pathin</span><span class="p">,</span>
                 <span class="n">pathout</span><span class="p">,</span>
                 <span class="n">dir_keys</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span>
                 <span class="n">extension</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span>
                 <span class="n">verbose</span><span class="o">=</span><span class="bp">False</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Initialize and coordinate the execution of the class methods.&quot;&quot;&quot;</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">recursive</span> <span class="o">=</span> <span class="n">recursive</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">pathin</span> <span class="o">=</span> <span class="n">pathin</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">pathout</span> <span class="o">=</span> <span class="n">pathout</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">verbose</span> <span class="o">=</span> <span class="n">verbose</span>

        <span class="k">if</span> <span class="n">extension</span><span class="p">:</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">extension</span> <span class="o">=</span> <span class="n">extension</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">extension</span> <span class="o">=</span> <span class="s1">&#39;html&#39;</span>

        <span class="k">if</span> <span class="n">dir_keys</span><span class="p">:</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">pathkey</span> <span class="o">=</span> <span class="n">dir_keys</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">_setPathkey</span><span class="p">(</span><span class="s1">&#39;keys/&#39;</span><span class="p">)</span>

        <span class="k">if</span> <span class="ow">not</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">isdir</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">pathkey</span><span class="p">):</span>
            <span class="n">msg</span> <span class="o">=</span> <span class="p">(</span><span class="s2">&quot;</span><span class="si">%s</span><span class="s2"> directory not found&quot;</span> <span class="o">%</span> <span class="bp">self</span><span class="o">.</span><span class="n">pathkey</span><span class="p">)</span>
            <span class="k">raise</span> <span class="ne">IOError</span><span class="p">(</span><span class="n">msg</span><span class="p">)</span>

        <span class="bp">self</span><span class="o">.</span><span class="n">_setKeys</span><span class="p">()</span> <span class="c1"># Define self.keys</span>

        <span class="k">if</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">isdir</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">pathin</span><span class="p">):</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">saveKeyDir</span><span class="p">()</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">saveKeyFile</span><span class="p">()</span>


    <span class="k">def</span> <span class="nf">_setPathkey</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">dir_keys</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Set the keys directory path to the one provided under the</span>
<span class="sd">        installed module</span>
<span class="sd">        &quot;&quot;&quot;</span>
        <span class="k">try</span><span class="p">:</span>
            <span class="kn">import</span> <span class="nn">replacekey</span>
            <span class="n">module_dir</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">replacekey</span><span class="o">.</span><span class="vm">__file__</span><span class="p">)</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">pathkey</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">module_dir</span><span class="p">,</span> <span class="n">dir_keys</span><span class="p">)</span>

        <span class="k">except</span> <span class="ne">ImportError</span><span class="p">:</span>
            <span class="n">msg</span> <span class="o">=</span> <span class="p">(</span><span class="s2">&quot;replacekey module not installed. Assuming that &quot;</span>
                   <span class="s2">&quot;replacekey.py is executed as __main__.&quot;</span><span class="p">)</span>
            <span class="n">warnings</span><span class="o">.</span><span class="n">warn</span><span class="p">(</span><span class="n">msg</span><span class="p">,</span> <span class="ne">ImportWarning</span><span class="p">)</span>

            <span class="n">this_dir</span><span class="p">,</span> <span class="n">_</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="vm">__file__</span><span class="p">)</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">pathkey</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">this_dir</span><span class="p">,</span> <span class="n">dir_keys</span><span class="p">)</span>


    <span class="k">def</span> <span class="nf">_setKeys</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Keys labels are automatically set according to the file</span>
<span class="sd">        names under the keys directory.</span>
<span class="sd">        &quot;&quot;&quot;</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">keys</span> <span class="o">=</span> <span class="p">[]</span>
        <span class="k">for</span> <span class="n">_root</span><span class="p">,</span> <span class="n">_dirs</span><span class="p">,</span> <span class="n">filenames</span> <span class="ow">in</span> <span class="n">os</span><span class="o">.</span><span class="n">walk</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">pathkey</span><span class="p">,</span> <span class="n">topdown</span><span class="o">=</span><span class="bp">True</span><span class="p">):</span>
            <span class="k">for</span> <span class="n">filename</span> <span class="ow">in</span> <span class="n">filenames</span><span class="p">:</span>
                <span class="k">if</span> <span class="n">filename</span><span class="o">.</span><span class="n">endswith</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">extension</span><span class="p">):</span>
                    <span class="n">key</span><span class="p">,</span> <span class="n">_ext</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">splitext</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
                    <span class="bp">self</span><span class="o">.</span><span class="n">keys</span> <span class="o">+=</span> <span class="p">[</span><span class="s1">&#39;{{&#39;</span><span class="o">+</span><span class="n">key</span><span class="o">+</span><span class="s1">&#39;}}&#39;</span><span class="p">]</span>
            <span class="k">break</span> <span class="c1"># Do not want recursive search here</span>
        <span class="k">if</span> <span class="nb">len</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">keys</span><span class="p">)</span> <span class="o">==</span> <span class="mi">0</span><span class="p">:</span>
            <span class="n">warnings</span><span class="o">.</span><span class="n">warn</span><span class="p">(</span><span class="s2">&quot;No key file found&quot;</span><span class="p">,</span> <span class="ne">RuntimeWarning</span><span class="p">)</span>


<div class="viewcode-block" id="ReplaceKey.saveKeyFile"><a class="viewcode-back" href="../replacekey.html#replacekey.ReplaceKey.saveKeyFile">[docs]</a>    <span class="k">def</span> <span class="nf">saveKeyFile</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Initialize routine to replace keys in file pathin and save</span>
<span class="sd">        the output to file pathout.</span>
<span class="sd">        &quot;&quot;&quot;</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">verbose</span><span class="p">:</span>
            <span class="k">print</span><span class="p">(</span><span class="s2">&quot;The keys:</span><span class="se">\n</span><span class="si">%s</span><span class="se">\n</span><span class="s2">have been replaced and saved in the &quot;</span>
                  <span class="s2">&quot;following file:&quot;</span> <span class="o">%</span> <span class="nb">str</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">keys</span><span class="p">))</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">replaceKey</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">pathin</span><span class="p">,</span> <span class="bp">self</span><span class="o">.</span><span class="n">pathout</span><span class="p">)</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">verbose</span><span class="p">:</span>
            <span class="k">print</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">%s</span><span class="se">\n</span><span class="s2">&quot;</span><span class="o">%</span><span class="bp">self</span><span class="o">.</span><span class="n">pathout</span><span class="p">)</span></div>


<div class="viewcode-block" id="ReplaceKey.saveKeyDir"><a class="viewcode-back" href="../replacekey.html#replacekey.ReplaceKey.saveKeyDir">[docs]</a>    <span class="k">def</span> <span class="nf">saveKeyDir</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Initialize routine to replace keys in files under the</span>
<span class="sd">        pathin directory, and save them under the pathout directory.</span>
<span class="sd">        &quot;&quot;&quot;</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">verbose</span><span class="p">:</span>
            <span class="k">print</span><span class="p">(</span><span class="s2">&quot;The keys:</span><span class="se">\n</span><span class="si">%s</span><span class="se">\n</span><span class="s2">have been replaced and saved in the &quot;</span>
                  <span class="s2">&quot;following files:&quot;</span><span class="o">%</span><span class="nb">str</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">keys</span><span class="p">))</span>

        <span class="c1"># Here the paths must be directories.  Windows may be probably</span>
        <span class="c1"># dealt with &#39;\&#39;. However, this should be</span>
        <span class="c1"># experimented. Instead of guessing, just do nothing and</span>
        <span class="c1"># assume that the npn-posix users will pass the correct path</span>
        <span class="c1"># name.</span>
        <span class="k">if</span> <span class="n">os</span><span class="o">.</span><span class="n">name</span> <span class="o">==</span> <span class="s1">&#39;posix&#39;</span><span class="p">:</span>
            <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">pathin</span> <span class="o">!=</span> <span class="s1">&#39;/&#39;</span><span class="p">:</span>
                <span class="bp">self</span><span class="o">.</span><span class="n">pathin</span> <span class="o">+=</span> <span class="s1">&#39;/&#39;</span>
            <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">pathout</span> <span class="o">!=</span> <span class="s1">&#39;/&#39;</span><span class="p">:</span>
                <span class="bp">self</span><span class="o">.</span><span class="n">pathout</span> <span class="o">+=</span> <span class="s1">&#39;/&#39;</span>

        <span class="k">for</span> <span class="n">root</span><span class="p">,</span> <span class="n">_dirs</span><span class="p">,</span> <span class="n">filenames</span> <span class="ow">in</span> <span class="n">os</span><span class="o">.</span><span class="n">walk</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">pathin</span><span class="p">,</span> <span class="n">topdown</span><span class="o">=</span><span class="bp">True</span><span class="p">):</span>
            <span class="k">for</span> <span class="n">filename</span> <span class="ow">in</span> <span class="n">filenames</span><span class="p">:</span>
                <span class="k">if</span> <span class="n">filename</span><span class="o">.</span><span class="n">endswith</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">extension</span><span class="p">):</span>
                    <span class="n">fin</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">root</span><span class="p">,</span> <span class="n">filename</span><span class="p">)</span>
                    <span class="n">rootout</span> <span class="o">=</span> <span class="n">root</span><span class="o">.</span><span class="n">replace</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">pathin</span><span class="p">,</span> <span class="bp">self</span><span class="o">.</span><span class="n">pathout</span><span class="p">)</span>
                    <span class="k">if</span> <span class="ow">not</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">exists</span><span class="p">(</span><span class="n">rootout</span><span class="p">):</span>
                        <span class="n">os</span><span class="o">.</span><span class="n">makedirs</span><span class="p">(</span><span class="n">rootout</span><span class="p">)</span>
                    <span class="n">fout</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">rootout</span><span class="p">,</span> <span class="n">filename</span><span class="p">)</span>
                    <span class="bp">self</span><span class="o">.</span><span class="n">replaceKey</span><span class="p">(</span><span class="n">fin</span><span class="p">,</span> <span class="n">fout</span><span class="p">)</span>
                    <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">verbose</span><span class="p">:</span>
                        <span class="k">print</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">%s</span><span class="se">\n</span><span class="s2">&quot;</span><span class="o">%</span><span class="n">fout</span><span class="p">)</span>
            <span class="k">if</span> <span class="ow">not</span> <span class="bp">self</span><span class="o">.</span><span class="n">recursive</span><span class="p">:</span>
                <span class="k">break</span></div>


<div class="viewcode-block" id="ReplaceKey.replaceKey"><a class="viewcode-back" href="../replacekey.html#replacekey.ReplaceKey.replaceKey">[docs]</a>    <span class="k">def</span> <span class="nf">replaceKey</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">fin</span><span class="p">,</span> <span class="n">fout</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Replace keys in file fin and save the output to file fout.&quot;&quot;&quot;</span>

        <span class="n">extension</span> <span class="o">=</span> <span class="s1">&#39;.&#39;</span><span class="o">+</span><span class="bp">self</span><span class="o">.</span><span class="n">extension</span>

        <span class="n">f_in</span> <span class="o">=</span> <span class="nb">open</span><span class="p">(</span><span class="n">fin</span><span class="p">,</span> <span class="s1">&#39;r&#39;</span><span class="p">)</span>
        <span class="n">str_in</span> <span class="o">=</span> <span class="n">f_in</span><span class="o">.</span><span class="n">read</span><span class="p">()</span>

        <span class="k">try</span><span class="p">:</span>
            <span class="n">f_out</span> <span class="o">=</span> <span class="nb">open</span><span class="p">(</span><span class="n">fout</span><span class="p">,</span> <span class="s1">&#39;w+&#39;</span><span class="p">)</span>
        <span class="k">except</span> <span class="ne">IOError</span><span class="p">:</span>
            <span class="n">msg</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;Please check that path_in and path_out are both &#39;</span>
                   <span class="s1">&#39;files or directories. If path_out is a file, make &#39;</span>
                   <span class="s1">&#39;sure that its directory exists.&#39;</span><span class="p">)</span>
            <span class="k">raise</span> <span class="ne">IOError</span><span class="p">(</span><span class="n">msg</span><span class="p">)</span>

        <span class="n">rep</span> <span class="o">=</span> <span class="p">{}</span>
        <span class="k">for</span> <span class="n">key</span> <span class="ow">in</span> <span class="bp">self</span><span class="o">.</span><span class="n">keys</span><span class="p">:</span>
            <span class="n">fkey</span> <span class="o">=</span> <span class="n">key</span>
            <span class="k">for</span> <span class="n">cht</span> <span class="ow">in</span> <span class="p">[</span><span class="s1">&#39;{&#39;</span><span class="p">,</span> <span class="s1">&#39;}&#39;</span><span class="p">]:</span>
                <span class="n">fkey</span> <span class="o">=</span> <span class="n">fkey</span><span class="o">.</span><span class="n">replace</span><span class="p">(</span><span class="n">cht</span><span class="p">,</span> <span class="s1">&#39;&#39;</span><span class="p">)</span>
            <span class="n">fkey</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">pathkey</span><span class="p">,</span> <span class="n">fkey</span><span class="o">+</span><span class="n">extension</span><span class="p">)</span>
            <span class="k">try</span><span class="p">:</span>
                <span class="n">f_key</span> <span class="o">=</span> <span class="nb">open</span><span class="p">(</span><span class="n">fkey</span><span class="p">,</span> <span class="s2">&quot;r&quot;</span><span class="p">)</span>
                <span class="n">str_key</span> <span class="o">=</span> <span class="n">f_key</span><span class="o">.</span><span class="n">read</span><span class="p">()</span>
                <span class="n">rep</span><span class="p">[</span><span class="n">key</span><span class="p">]</span> <span class="o">=</span> <span class="n">str_key</span>
                <span class="n">f_key</span><span class="o">.</span><span class="n">close</span><span class="p">()</span>
            <span class="k">except</span> <span class="ne">IOError</span><span class="p">:</span>
                <span class="n">msg</span> <span class="o">=</span> <span class="p">(</span><span class="s2">&quot;Could not open a &#39;keys/&#39; template corresponding &quot;</span>
                       <span class="s2">&quot;to the key </span><span class="si">%s</span><span class="s2">&quot;</span> <span class="o">%</span> <span class="p">(</span><span class="n">key</span><span class="p">))</span>
                <span class="k">raise</span> <span class="ne">IOError</span><span class="p">(</span><span class="n">msg</span><span class="p">)</span>

        <span class="c1"># Perform the replacement</span>
        <span class="n">rep</span> <span class="o">=</span> <span class="nb">dict</span><span class="p">((</span><span class="n">re</span><span class="o">.</span><span class="n">escape</span><span class="p">(</span><span class="n">k</span><span class="p">),</span> <span class="n">v</span><span class="p">)</span> <span class="k">for</span> <span class="n">k</span><span class="p">,</span> <span class="n">v</span> <span class="ow">in</span> <span class="n">rep</span><span class="o">.</span><span class="n">items</span><span class="p">())</span>
        <span class="n">pattern</span> <span class="o">=</span> <span class="n">re</span><span class="o">.</span><span class="n">compile</span><span class="p">(</span><span class="s2">&quot;|&quot;</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">rep</span><span class="o">.</span><span class="n">keys</span><span class="p">()))</span>
        <span class="n">text</span> <span class="o">=</span> <span class="n">pattern</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="k">lambda</span> <span class="n">m</span><span class="p">:</span> <span class="n">rep</span><span class="p">[</span><span class="n">re</span><span class="o">.</span><span class="n">escape</span><span class="p">(</span><span class="n">m</span><span class="o">.</span><span class="n">group</span><span class="p">(</span><span class="mi">0</span><span class="p">))],</span> <span class="n">str_in</span><span class="p">)</span>

        <span class="n">f_out</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
        <span class="n">f_out</span><span class="o">.</span><span class="n">close</span><span class="p">()</span>
        <span class="n">f_in</span><span class="o">.</span><span class="n">close</span><span class="p">()</span></div></div>


<div class="viewcode-block" id="getParser"><a class="viewcode-back" href="../replacekey.html#replacekey.getParser">[docs]</a><span class="k">def</span> <span class="nf">getParser</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Set up and return the parser.&quot;&quot;&quot;</span>
    <span class="n">parser</span> <span class="o">=</span> <span class="n">argparse</span><span class="o">.</span><span class="n">ArgumentParser</span><span class="p">(</span>
        <span class="n">description</span><span class="o">=</span><span class="p">(</span><span class="s2">&quot;Replace key expressions in a file by templates &quot;</span>
                     <span class="s2">&quot;defined under a &#39;keys/&#39; directory.&quot;</span><span class="p">),</span>
        <span class="n">epilog</span><span class="o">=</span><span class="p">(</span><span class="s2">&quot;For more information about the keys template format, &quot;</span>
                <span class="s2">&quot;see the documentation of the ReplaceKey() class.&quot;</span><span class="p">)</span>
    <span class="p">)</span>


    <span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">__version__</span>
    <span class="n">parser</span><span class="o">.</span><span class="n">add_argument</span><span class="p">(</span><span class="s1">&#39;--version&#39;</span><span class="p">,</span> <span class="n">action</span><span class="o">=</span><span class="s1">&#39;version&#39;</span><span class="p">,</span>
                        <span class="n">version</span><span class="o">=</span><span class="s1">&#39;</span><span class="si">%(prog)s</span><span class="s1"> &#39;</span><span class="o">+</span><span class="n">__version__</span><span class="p">)</span>

    <span class="n">parser</span><span class="o">.</span><span class="n">add_argument</span><span class="p">(</span><span class="s1">&#39;-v&#39;</span><span class="p">,</span> <span class="s1">&#39;--verbose&#39;</span><span class="p">,</span> <span class="n">action</span><span class="o">=</span><span class="s2">&quot;store_true&quot;</span><span class="p">,</span>
                        <span class="n">help</span><span class="o">=</span><span class="s2">&quot;increase output verbosity&quot;</span><span class="p">)</span>

    <span class="n">parser</span><span class="o">.</span><span class="n">add_argument</span><span class="p">(</span><span class="s1">&#39;path_in&#39;</span><span class="p">,</span> <span class="n">metavar</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;path_in&#39;</span><span class="p">),</span>
                        <span class="nb">type</span><span class="o">=</span><span class="nb">str</span><span class="p">,</span> <span class="n">nargs</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span>
                        <span class="n">help</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;existing file (or folder, if the -r flag &#39;</span>
                              <span class="s1">&#39;is set) containing keys expressions to &#39;</span>
                              <span class="s1">&#39;be replaced&#39;</span><span class="p">))</span>

    <span class="n">parser</span><span class="o">.</span><span class="n">add_argument</span><span class="p">(</span><span class="s1">&#39;path_out&#39;</span><span class="p">,</span> <span class="n">metavar</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;path_out&#39;</span><span class="p">),</span>
                        <span class="nb">type</span><span class="o">=</span><span class="nb">str</span><span class="p">,</span> <span class="n">nargs</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span>
                        <span class="n">help</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;file (or folder, if the -r flag is set) &#39;</span>
                              <span class="s1">&#39;where to save the output of the &#39;</span>
                              <span class="s1">&#39;replacements&#39;</span><span class="p">))</span>

    <span class="n">parser</span><span class="o">.</span><span class="n">add_argument</span><span class="p">(</span><span class="s1">&#39;-r&#39;</span><span class="p">,</span> <span class="s1">&#39;--recursive&#39;</span><span class="p">,</span> <span class="n">action</span><span class="o">=</span><span class="s1">&#39;store_true&#39;</span><span class="p">,</span>
                        <span class="n">help</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;parse and replace keys recursively&#39;</span><span class="p">))</span>

    <span class="n">parser</span><span class="o">.</span><span class="n">add_argument</span><span class="p">(</span><span class="s1">&#39;-k&#39;</span><span class="p">,</span> <span class="s1">&#39;--keys-dir&#39;</span><span class="p">,</span>
                        <span class="n">metavar</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;dir&#39;</span><span class="p">),</span>
                        <span class="nb">type</span><span class="o">=</span><span class="nb">str</span><span class="p">,</span>
                        <span class="n">nargs</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span>
                        <span class="n">help</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;path to directory containing keys files &#39;</span>
                              <span class="s1">&#39;(default: installation_dir/keys/); &#39;</span>
                              <span class="s1">&#39;key files must have the same extension &#39;</span>
                              <span class="s1">&#39;as the files&#39;</span><span class="p">))</span>

    <span class="n">parser</span><span class="o">.</span><span class="n">add_argument</span><span class="p">(</span><span class="s1">&#39;-e&#39;</span><span class="p">,</span> <span class="s1">&#39;--extension&#39;</span><span class="p">,</span>
                        <span class="n">metavar</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;extension&#39;</span><span class="p">),</span>
                        <span class="nb">type</span><span class="o">=</span><span class="nb">str</span><span class="p">,</span>
                        <span class="n">nargs</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span>
                        <span class="n">help</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;files extension (default: html)&#39;</span><span class="p">))</span>

    <span class="k">return</span> <span class="n">parser</span></div>


<div class="viewcode-block" id="callReplaceKey"><a class="viewcode-back" href="../replacekey.html#replacekey.callReplaceKey">[docs]</a><span class="k">def</span> <span class="nf">callReplaceKey</span><span class="p">(</span><span class="n">args</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Interpret args and call :class:`ReplaceKey`.&quot;&quot;&quot;</span>

    <span class="n">pathin</span> <span class="o">=</span> <span class="n">args</span><span class="o">.</span><span class="n">path_in</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
    <span class="n">pathout</span> <span class="o">=</span> <span class="n">args</span><span class="o">.</span><span class="n">path_out</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>

    <span class="k">if</span> <span class="n">args</span><span class="o">.</span><span class="n">keys_dir</span><span class="p">:</span>
        <span class="n">keys_dir</span> <span class="o">=</span> <span class="n">args</span><span class="o">.</span><span class="n">keys_dir</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">keys_dir</span> <span class="o">=</span> <span class="bp">None</span>

    <span class="k">if</span> <span class="n">args</span><span class="o">.</span><span class="n">extension</span><span class="p">:</span>
        <span class="n">extension</span> <span class="o">=</span> <span class="n">args</span><span class="o">.</span><span class="n">extension</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">extension</span> <span class="o">=</span> <span class="bp">None</span>

    <span class="n">ReplaceKey</span><span class="p">(</span><span class="n">args</span><span class="o">.</span><span class="n">recursive</span><span class="p">,</span>
               <span class="n">pathin</span><span class="p">,</span>
               <span class="n">pathout</span><span class="p">,</span>
               <span class="n">keys_dir</span><span class="p">,</span>
               <span class="n">extension</span><span class="p">,</span>
               <span class="n">args</span><span class="o">.</span><span class="n">verbose</span><span class="p">)</span></div>


<div class="viewcode-block" id="getCli"><a class="viewcode-back" href="../replacekey.html#replacekey.getCli">[docs]</a><span class="k">def</span> <span class="nf">getCli</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Command line interface.&quot;&quot;&quot;</span>
    <span class="n">parser</span> <span class="o">=</span> <span class="n">getParser</span><span class="p">()</span>
    <span class="n">args</span> <span class="o">=</span> <span class="n">parser</span><span class="o">.</span><span class="n">parse_args</span><span class="p">()</span>
    <span class="n">callReplaceKey</span><span class="p">(</span><span class="n">args</span><span class="p">)</span></div>


<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s1">&#39;__main__&#39;</span><span class="p">:</span>
    <span class="n">getCli</span><span class="p">()</span>
</pre></div>

          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper"><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../index.html">Documentation overview</a><ul>
  <li><a href="index.html">Module code</a><ul>
  </ul></li>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2016, Francesco Montanari.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.4.4</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.8</a>
      
    </div>

    

    
  </body>
</html>