This section should be replaced:
<head>
  <title>Francesco Montanari</title>
  <base href="http://www.helsinki.fi/~montafra/">
  <!-- <base href="../"> -->
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" type="image/png" href="img/favicon_galaxy.png"/>
  <link rel="stylesheet" href="css/main.css">
</head>


Also this section should be replaced:
***<nav>
  <div id="tb_left">
    <ol class="ft">
      <li class="ftl">
        <a href="index.html">Home</a>
      </li>
      <li class="ftl">
        <a href="research/index.html">Research</a>
      </li>
      <li class="ftl">
        <a href="notebook/index.html">Notebook</a>
      </li>
      <li class="ftl">
        <a href="contact/index.html">Contact</a>
      </li>
    </ol>
  </div>
</nav>
***

Only the inner parenthesis:
{{nav<nav>
  <div id="tb_left">
    <ol class="ft">
      <li class="ftl">
        <a href="index.html">Home</a>
      </li>
      <li class="ftl">
        <a href="research/index.html">Research</a>
      </li>
      <li class="ftl">
        <a href="notebook/index.html">Notebook</a>
      </li>
      <li class="ftl">
        <a href="contact/index.html">Contact</a>
      </li>
    </ol>
  </div>
</nav>
}}

The following should not be replaced:
{{nokey}}
{head}
{nav}
{{nav}
}
{{nav }}
{{NAV}}
{{Nav}}
{{}}
